{% extends "layout/layout-overviewpage.twig" %}

{% block content %}
    <header class="main-header">
        <section class="main-header__content">
            <h1>Orbit</h1>
            <h2>Make emails with ease</h2>
        </section>
    </header>
    <section class="mail-overview">
        <div class="mail-overview__content">
            <ul class="mail-overview__list">
                {% for mail in mails %}
                    <li><a href="{{ mail.href }}">{{ mail.lang }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
