{% extends "layout/layout-overviewpage.twig" %}

{% block content %}
    <header class="main-header">
        <section class="main-header__content">
            <h1>Orbit</h1>
            <h2>Make emails with ease</h2>
        </section>
    </header>
{% endblock %}
